<li class="archive-edition">
  <%= image_tag edition.image_url.to_s %>
  <%= link_to "Read online ", read_edition_path(edition) %>
  <%= edition.downloads %>
  <ul>
      <% edition.downloads.each do |download|%>
      <%= link_to "Download #{download.area} pdf", download.pdf %>
    <%end%>
  </ul>
</li>
