<div>
	<h1>Reset password</h1>
	<%= form_tag :url => reset_password_path, :html => {:method => 'post', :class=>'inline'} do %>
	  <%= label_tag :email, "E-mail" %>
	  <%= text_field_tag :email%>
	  <%= submit_tag "Reset password"%>
	<%end%>	
</div>
