<div class="span6">
	<table class="zebra-striped">
		<th><td>Edition No</td><td>Area</td></th>
		<% @spitems.each do |sp|%>
		<tr>
			<a href=<%= classifiedspreads_path sp %>> <td><%= sp.edition.number %></td> <td><%= sp.area %></td> </a>
		</tr>
		<%end%>
	</table>
</div>
