<div class="row">
  <div class="span12">
		<h1>Contact us</h1>
    <div class="round-outline">
      <h4>Feel free to call us.</h4><br/>
      <table>
          <tr><td>Editor </td><td> +91 8056 102389</td></tr>
          <tr><td>Business developer</td><td> +91 8056 095943</td></tr>
        </table>
    </div>
    <div class="round-outline">
      <h2>Contribute articles</h2>
      <hr/>
      <p>We welcome interesting articles, suggestions or ideas. Please write to us at <a href="mailto:contribute@techbot.in">contribute@techbot.in</a></p>
      <p>If you would like your product, industry or work covered, please do get in touch with us.</p>
    </div>
    <div class="round-outline">
      <h2>Advertise</h2>
      <hr/>
      <p>To advertsie please write to <a href="mailto:advertise@techbot.in">advertise@techbot.in</a></p>
    </div>
    <div class="round-outline">
      <h2>Information</h2>
      <hr/>
      <p>For all other information write to <a href="mailto:info@techbot.in">info@techbot.in</a></p>
    </div>
	</div>
</div>
