header {
  width:auto;
  margin:0px;
  border:none;
  padding:10px 0px;
}
.logo{
  float:left;
  font:normal normal normal 18pt/24pt ubuntu;
  color:#835;
  padding:5px 20px;
  margin:0px;
  text-decoration:none;
}
nav {
  float:left;
  display:block;
  text-align:center;
  ul{
      padding:3px 0px;
    }
    li {
        display:inline-block;
        list-style-type:none;
        font-size:18px;
        margin:0px;
        padding:0px;
 /*       a {
            color: #ddd !important;
            background-color:#222 !important;
            text-decoration:none !important;
            margin:0px !important;
            padding:10px !important;
            &:hover {
            color:black !important;
            background-color:white !important;
          }
        }
*/
    }   

}

.users_area {
  padding:10px 20px;
  margin: 10px;
  float:right;
  .sign_in_btn, .sign_up_btn, .sign_out_btn {
    cursor:pointer;
    padding:4px 6px;
    margin:2px 4px;
    border:1px solid green;
    text-decoration:none;
    border-radius: 12px;
  }
}
.comment_area{
  .sign_in_btn, .sign_up_btn, .sign_out_btn {
    cursor:pointer;
    padding:4px 6px;
    margin:2px 4px;
    border:2px solid green;
  }
}
  
.stacked_form {
  border:2px dashed #888;
  background-color:#dee;//#253478;
  padding:20px;
  label {display:block;clear:left;margin-bottom:4px;}
  input {display:block;clear:both;margin-bottom:15px;}
}

.title {
  font-size:24px;
}
.abstract {
  font-size:18px;
  color:#667720;
}

