$orange:#fd3301;
$yellow:#fce94f;

.topbar {
  .logo{
    font-size:25px;
    line-height:1.5em;
  }
  .header{
  }
  li{
    display:inline-block;
    position:relative;
    top:10px;
    a{   
      text-decoration:none;
      font-size:18px;
      margin:0px 2px;
      padding:0px 6px 0px 2px; 
      &:hover{
        background:$orange;
        color:black;
      }
    }  
  }
  ul{
  }
  .users_area{
    display:inline-block;
    a{
      border:1px solid #000;
      margin:3px 4px;
    }  
  }
}

.main-content{
  padding:50px 0px;
}

.divider {
  border-right:2px solid;
}

.orange{
  border-right-color:$orange;
}
.lime-green{
  border-right-color:#8ae234;
}
.yellow{
  border-right-color:#fce94f;
}
.cobalt{
  border-right-color:#ef2929;
}
