$orange:#fd3301;
$yellow:#fce94f;

.navbar{
  font-size:16px;
  li{
    a{
      &:hover{
        color:#333;
      }
    }
  }
}

.brand.logo{
  font-size:25px;
}

.users_area {
  font-size:16px;
}

.main-content{
  padding:50px 0px;
}

.divider {
  border-right:2px solid;
}

.orange{
  border-right-color:$orange;
}
.lime-green{
  border-right-color:#8ae234;
}
.yellow{
  border-right-color:#fce94f;
}
.cobalt{
  border-right-color:#ef2929;
}

.external-auth {
  padding:4px;
  margin:0px;
  border-bottom:2px solid $orange; 
}

#feedback-btn {
  width:20px;
  position:fixed;
  top:150px;
  right:0px;
  color:#eee;
  background-color:$orange;
  line-height:1em;
  cursor:pointer;
}
#feedback{
  width:230px;
  padding:15px;
  position:fixed;
  top:150px;
  right:0px;
  border:1px solid #777;
  background:#eee;
  form{
    margin:0px;
    padding:0px;
  }
  input, select {
    clear:both;
    padding-right:10px;
  }
}

#comment_comment{
  width:90%;
  padding:20px 30px;
  margin:20px 30px;
}

.content{
  text-align:justify;
}

.comment{
  padding:10px 20px;
  text-align:justify;
}
