.box-shadow {
  -webkit-box-shadow: #244766 5px 5px 10px;
  -moz-box-shadow: #244766 10px 10px 10px;
  box-shadow: #244766 10px 10px 10px;
}

.border-radius {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.float-left {
  float:left;
}

.float-right{
  float:right;
}

.mini-bar{
  .date{
    color:#667755;
  }
  p{
    margin:5px 0px;
  }
}
