// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-in-form{
  margin:auto;
  width:400px;
  border:1px dashed #232;
  padding:4px 5px;
  .field{
    padding:2px 4px 12px 4px;
    input{
      width:300px;
    }
  }
  .button{
    margin:6px 8px;
  }

  .error_messages{
    padding:2px 5px;
    border:1px dashed #f22;
    h2 {
      color:#f22;
      font-size:18px;
    }
  }

}

