// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$rradius:8px;
.round-outline {
  border:1px solid grey;
  border-radius:$rradius;
  -webkit-border-radius:$rradius;
  -moz-border-radius:$rradius;
  margin:20px 0px;
  padding:10px 10px;
}
