<footer class="row">
<div class="container">
  <%= render :partial => "ads/ad.html.erb" %>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li>
            <span class="brand" >Partners</span>
          </li>  
          <li>
            <a href="www.sollr.com">Sollr.com</a>
          </li>  
          <li>
            <a href="www.revengg.com">revengg.com</a>
          </li>  
          <li>
            <a href="www.ngineer.in">ngineer.in</a>
          </li>  
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
